
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&family=Indie+Flower&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
  background: white;
  margin: 0;
  padding: 0;
  font-family: 'Cabin';
}


.App{
  display: block;
}

.main-container{
  display: block;
}
.header {
  display: block;
  width: 100%;
  margin-bottom: 20%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; /* Ensure header stays above other content */
  box-shadow: 0 4px 5px rgba(99, 96, 96, 0.1);
}

.list-container {
  margin-top: calc(35% + 50px); /* Adjust based on header's height */
  position: relative; /* Ensure it's part of the document flow */
}

.logo{
  font-size: 20px;
  padding: 10px;
  color: rgba(3, 44, 3, 0.867);
  margin-left: 5%;
}

.add-item{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
border: none;
padding: 10px;
background: rgb(230, 227, 227);
border: 1px solid rgb(148, 147, 147);
width: 70%;
margin-left: 5%;
font-size: 16px;
}

.add-btn{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
padding: 10px;
background:rgb(230, 227, 227);
border: 1px solid rgb(148, 147, 147);
cursor: pointer;
font-size: 16px;

}

.active-UI{
  border: none;
  width: 33%;
  padding: 10px;

  
}


.specials-btn{
  border: none;
  padding: 10px;
 
  cursor: pointer;

}

.item{
  padding: 20px;
  border: 1px solid #ddd;
 
}
.item:first-child{
  border-top: none;
}
.item:last-child{
  margin-bottom: 15%;
}
.description{
  display: inline-flex;
  width: 60%;
  margin: 10px;
}


h3{
  margin-right: 10px;
  
}
.quantity-and-shopped{
  display: flex;
  justify-content: space-between;
 
}

.quantity{
  padding: 3px;
  background: rgb(225, 220, 220);
  width: 100px;
  justify-content: space-between;
  border-radius: 20px;
  display: flex;
}

.quantity button{
  
  border: none;
  background: transparent;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bolder;
}

.price-container{
  display: block;
}
.price-container input{
  width: 60px;
  border: none;

 
}

.add-price{
  
  cursor: pointer;
  border: none;
color: white;
  padding: 5px;
  border-radius: 5px;

  font-size: 12px;
  font-weight: bolder;
  background-color: rgba(5, 92, 5, 0.867);
}
.sort-dropdown{
  border: none;
  justify-items: 'center';
}
.total{
  border: none;
  width: 50%;
  padding: 10px;
}


.specials ul{
  width: 100%;

  display: flex;
  justify-content: space-between;


 
}

.specials ul li{


  justify-items: center;
 


  
}



.specials a{
  display: inline-block;
  justify-content: space-between;
  width: 30%;
  height: 100px;
  border: 1px solid rgb(225, 220, 220);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10%;
  text-decoration: none;
  list-style: none;


}
.back{
  font-size: 30px;
  margin: 20px;
}

.specials_header{
  font-size: 25px;
  color:  rgba(3, 44, 3, 0.867);
  text-align: center;
}

h5{
  text-align: center;
 text-decoration: underline;
}

.action-buttons{
  bottom: 0%;
  width: 100%;
  
  position: fixed;
  height: 10%;
  background: transparent;
  display: block;
  justify-content: center;
 
}
.clear-btn{
  cursor: pointer;
  border: none;

  background: rgba(5, 92, 5, 0.867);
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
  
  width: 90%;
  color: white;
  position: fixed;
  bottom: 10px; /* Distance from the bottom of the screen */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for horizontal centering */
  font-family: 'DM sans';
  z-index: 1000; 
  
}



.budget{
  background: transparent;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.budget input{

  border: none;
 
  height: 30px;

  font-size: 15px;
  width: 50px;
}
.budget button{
  background: #F4D06F;
  border: none;
  padding: 5px;
  font-size: 15px;
  font-weight: bolder;
  border: 1px solid rgb(148, 147, 147);
  border-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.menu img{
width: 50px;
height: 50px;
border: 1px solid rgba(183, 179, 179, 0.5);
border-radius: 50%;
}
.menu-options{
  width: 60px;
  padding: 7px;
  background:  rgb(230, 227, 227);
  border: none;
  border-radius: 5px;
}

.navigation ul{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 8%;
}



  .navigation{
    bottom: 0%;
    width: 100%;
    
    position: fixed;
    height: 8%;
    box-shadow: 2px 0px 7px rgba(175, 171, 171, 0.5);
    display: block;
    justify-content: center;
  }

  .navigation ul li{
    font-size: 13px;
    font-weight: bold;
    list-style: none;
  margin-right: 20px;
  padding: 10px;
  
  }
  .word_and_icon{
    display: block;
  }
